Subject Line: Your Meeting at {SiteName} - {MeetingDate}
From / Reply-To: Vodafone Travel Team / travel@vodafone.co.uk

<h1>Hi {Firstname},</h1>
<p>
We are pleased to confirm your meeting with {Employee Host Name} at {Building Name}, {Site Name} on {MeetingDate} between {startTime} - {endTime}.

Your host has organised Parking for the duration of your visit - please see below for details:
{MeetingDate} - {carParkName}, {spaceID} between {startTime} - {endTime}.

There is a 15 minute 'time buffer' before the start and end times of your booking, but please let the <a mailto:"travel@vodafone.co.uk">Vodafone Travel Team</a> know if you are running late and need to adjust the booking, if you cannot attend or decide to use <a href="https://www.click2park.co.uk/Vodafone/visitors/alternative-transport-options.php">alternative transport options</a>.

If you need directions to {siteName}, please <a href="https://goo.gl/maps/HuksH">click here for an interactive Map</a>.

We look forward to seeing you.

Regards
The Vodafone Travel Team.
</p>
